
@media only screen and (max-width:980px){
	.mean-container .mean-nav {margin-top: 0}
	.mobile_menu span{display: block;}
	.logo_area { text-align: center;}
	.inner_menu .logo{ width: 25%; float: left;}
	.inner_menu .main_menu { float: none; max-width: 100%; text-align: center;}
	
/*=============work img==========*/
	.hero_text { text-align: center;}
	.inner_work .work_image { width: 100%; height: 100%; float: none; text-align: center;}
	.work_text { width: 100%; text-align: center;}
	.child_image{ padding-top: 5rem;}
} 

@media only screen and (max-width: 768px){
	
	.span_1_of_4{ width: 49.2%;}
	.span_1_of_4:nth-child(3){ margin-left: 0; float: left;}
	.hero { width: 61%; margin-left: 7rem;}

	.child_image {text-align: center; padding-top: 1rem;}
	.inner_work h1 { text-align: center;}
	.box{padding: 0}
} 

@media only screen and (max-width: 480px){
	
	.span_1_of_4{ width: 100%;}
	.hero { width: 49%;margin-left: 13rem;}
	.hero {
    width: 49%;
    margin-left: 13rem;}
} 










